/* Disable text selection and dragging */
body {
    user-select: none;
    /* Prevent text selection */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    -webkit-user-select: none;
    /* WebKit browsers (e.g., Safari) */
    -webkit-touch-callout: none;
    /* Disable callout on long-press (iOS Safari) */
}

/* Optional: Disable dragging of images */
img {
    pointer-events: none;
    /* Disable pointer events on images */
}

/* Loader styles */
.loader-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Full viewport height */
    background-color: rgb(255, 255, 255);
    /* Semi-transparent background */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    /* Ensure it's on top */
    opacity: 1;
    /* Initially fully visible */
    transition: opacity 0.5s ease;
    /* Smooth opacity transition */
}

.loader-container.hidden {
    opacity: 0;
    /* Fade out */
    pointer-events: none;
    /* Disable interactions when hidden */
}

.loader {
    border: 8px solid #2c3e50;
    /* Blue color */
    border-radius: 50%;
    border-top: 8px solid rgba(0, 0, 0, 0.3);
    /* Transparent top border */
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-text {
    margin-top: 1px;
    font-family: 'Poppins', sans-serif;
    font-size: 2.1em;
    font-weight: bold;
    color: #333;
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-in-out forwards;
}

.best-viewed {
    margin-top: 1px;
    font-size: 1.2em;
    font-family: 'Poppins', sans-serif;
    color: #333;
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-in-out forwards;
}

.best-viewed {
    font-size: 1em;
    color: #666;
    animation-delay: 0.5s;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Hide content until loaded */
body {
    overflow: hidden;
    /* Prevent scrolling while loader is shown */
}

body.loaded {
    overflow: auto;
    /* Restore scrolling once content is loaded */
}

header,
main,
footer {
    opacity: 0;
    /* Initially hide main sections */
    transition: opacity 0.5s ease;
    /* Smooth opacity transition */
}

html {
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #f3f4f6;
    color: #333;
}

a {
    text-decoration: none;
    /* Remove underline */
    color: white;
    /* Set text color to white */
    cursor: pointer;
    /* Change cursor to pointer on hover (optional) */
}

/* Change link color on hover (optional) */
a:hover {
    color: lightgray;
}

.highlight {
    color: #ffffff00;
    /* Your desired color for highlighted text */
}

header {
    background-color: #2c3e50;
    color: white;
    padding: 5px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    top: 0;
    position: fixed;
    /* Fixed position to stay at the top */
    z-index: 1000;
    /* Ensure the header is above other content */
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-left {
    flex: 1;
    /* Takes up all available space in the flex container */
    text-align: left;
}

.header-right {
    text-align: right;
}

.header-right ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header-right li {
    margin-right: 20px;
}

.header-right a {
    position: relative;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.header-right a.active {
    color: #1abc9c;
    /* Adjust the active link color */
}

.header-right a.active::after {
    content: '';
    position: absolute;
    bottom: -3px;
    /* Adjust the underline position */
    left: 0;
    width: 100%;
    height: 2px;
    /* Adjust the underline thickness */
    background-color: white;
    /* Adjust the underline color */
    transition: all 0.3s ease-in-out;
}

.header-right a:hover::after {
    width: 80%;
    /* Adjust the underline width on hover */
    margin: 0 auto;
    /* Center the underline on hover */
}



nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    /* Display list items horizontally */
    margin-left: 20px;
    /* Add spacing between list items */
}

nav ul li:first-child {
    margin-left: 0;
    /* No margin on the first list item */
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #1abc9c;
}

main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 20px;
    min-height: 100vh;
    /* Ensure main fills the entire viewport height */
    display: flex;
    flex-direction: column;
}

section {
    background: white;
    margin: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
    min-height: 70vh;
    /* Ensure each section fills the entire viewport height */
    display: flex;
    flex-direction: column;
}

#specialization {
    text-align: left;
}

#specialization h2 {
    margin-top: -1%;
    font-size: 1.5em;
    color: #333;
    /* Default text color */
}

#specialization #typing-text {
    display: inline-block;
    color: #1abc9c;
    /* Color for the typing effect text */
    font-weight: bold;
}

#specialization #prefix {
    color: #555;
    /* Color for the prefix text */
}

/* Home section */
#home {
    padding: 60px 20px;
    text-align: center;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.intro img {
    width: 400px;
    height: 400px;
    border-radius: 50%;

    object-fit: cover;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.intro-text {
    text-align: left;
}

.intro-text h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.intro-text p {
    font-size: 1.2em;
    line-height: 1.6;
    max-width: 600px;
    margin: 0 auto;
}

/* Example for #about section */
/* Adjustments for About Me section */
#about .about-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
    text-align: left;
}

#about .about-left {
    flex: 1;
}

#about .about-right {
    flex: 2;
}

#about img {
    width: 450px;
    /* Square profile picture */
    height: 450px;
    margin-bottom: 40px;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#about h3 {
    font-size: 24px;
    margin-top: 0;
    color: #2c3e50;
}

#about p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 10px;
}

.cv-download {
    margin-top: 20px;
}

.cv-download button {
    background-color: #2c3e50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s, transform 0.3s;
}

.cv-download button:hover {
    background-color: #1abc9c;
    transform: translateY(-2px);
}


/* Example for #education section */
#education .education-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#education .education-item {
    margin-bottom: 20px;
}

#education h3 {
    margin: 0 0 5px;
    color: #2c3e50;
}

#education p {
    margin: 0;
    font-size: 1em;
    line-height: 1.5;
}

/* Adjust other sections similarly */

#skills .skills-content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#skills .skill-item {
    background-color: #2c3e5000;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 1em;
    margin: 5px;
}

form label {
    display: block;
    margin: 15px 0 5px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

button {
    background-color: #2c3e50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #1abc9c;
    transform: translateY(-2px);
}

footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    margin-top: 40px;
    /* Adds spacing between the content and footer */
}

footer p {
    margin: 0;
}

/* Responsive Design */
/* Styles for minimalistic skill items with icons */
#skills {
    text-align: center;
}

.skills-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    /* Adjust spacing between skill items */
    margin-top: 20px;
    /* Add margin between Skills section and previous section */
}

.skill-item {
    width: 120px;
    /* Adjust width of each skill item as needed */
    height: 180px;
    /* Adjust height of each skill item as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;

    transition: background-color 0.3s, transform 0.3s;
}

.skill-item:hover {
    background-color: #e0e0e0;
    transform: translateY(-2px);
}

.skill-item img {
    width: 100px;
    /* Adjust icon size */
    object-fit: contain;
    margin-bottom: 10px;
    /* Add space between icon and text */
}

.skill-item p {
    margin: 0;
    font-size: 0.9em;
    color: #333;
}

.icons {
    position: absolute;
    margin-left: 60px;
    bottom: 110px;
    /* Adjust distance from the bottom */
    left: 52%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.icons a {
    display: inline-block;
    margin: 0 10px;
    width: 40px;
    /* Adjust the width of icons */
    height: 40px;
    /* Adjust the height of icons */
    transition: transform 0.3s ease;
    /* Smooth transition effect */
}

.icons a img {
    width: 100%;
    /* Ensure image takes full width of parent container */
    height: 100%;
    /* Ensure image takes full height of parent container */
    object-fit: contain;
    /* Maintain aspect ratio and fit inside the dimensions */
    cursor: pointer;
    transition: transform 0.3s ease;
    /* Smooth transition effect */
}

.icons a:hover img {
    transform: scale(1.1);
    /* Smooth zoom effect on hover */
}

/* Timeline Styles */
.timeline {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 0;
}

.timeline-item {
    position: relative;
    padding-left: 40px;
    margin-bottom: 30px;
}

.timeline-item:last-child {
    margin-bottom: 0;
}

.timeline-icon {
    position: absolute;
    top: 42%;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #1abc9c;
    border-radius: 50%;
}

.timeline-content {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.timeline-content h3 {
    margin-top: 0;
    color: #2c3e50;
}

.timeline-content p {
    margin: 0;
    font-size: 1em;
    line-height: 1.5;
}

/* Add a vertical line */
.timeline:before {
    content: '';
    position: absolute;
    top: 0;
    left: 10px;
    width: 2px;
    height: 100%;
    background: #1abc9c;
}

h2 {
    font-size: 2.4em;
    /* Example size, adjust as needed */
    font-weight: bold;
    /* Make the font bold */
    color: black;
    /* Default text color */
    margin-bottom: 50px;
    /* Add spacing below the section titles */
}

/* Floating button styles */
#scrollToTopBtn {
    display: none;
    /* Initially hidden */
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #1abc9c;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 15px;
    font-size: 1.2em;
    cursor: pointer;
    z-index: 1000;
    /* Ensure it appears above other content */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Floating arrow-up button styles */
#scrollToTopBtn {
    display: none;
    /* Initially hidden */
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #1abc9c;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 15px;
    font-size: 1.2em;
    cursor: pointer;
    z-index: 1000;
    /* Ensure it appears above other content */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s, transform 0.3s;
}

#scrollToTopBtn:hover {
    background-color: #16a085;
    transform: scale(1.1);
    /* Scale up on hover for a slight animation */
}

/* SVG icon color */
#scrollToTopBtn svg {
    fill: white;
    vertical-align: middle;
}

/* Show the button with opacity animation */
#scrollToTopBtn.show {
    display: block;
    opacity: 1;
}

/* Hide the button with opacity animation */
#scrollToTopBtn.hide {
    opacity: 0;
    pointer-events: none;
    /* Disable pointer events when hidden */
}

/* Styles for Projects Section */
#projects {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    /* Light background color for the section */
    margin-top: 20px;
}

#projects h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
    /* Darker color for the heading */
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    /* Wrap items to next line if needed */
    justify-content: space-around;
    /* Adjust spacing between project items */
    max-width: 1200px;
    /* Limit the maximum width of the container */
    margin: 0 auto;
    /* Center align the container */
}

.project {
    background-color: #2c3e50;
    ;
    /* White background for each project */
    border-radius: 8px;
    /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Subtle shadow */
    padding: 15px;
    text-align: left;
    /* Left align text inside projects */
    transition: transform 0.2s;
    /* Smooth transition for hover effect */
    width: calc(33.33% - 20px);
    /* 33.33% width for each project, with margin */
    margin: 10px;
    /* Space between projects */
    box-sizing: border-box;
    /* Include padding and border in the element's total width and height */
}

.project:hover {
    transform: translateY(-5px);
    /* Lift effect on hover */
}

.project h3 {
    font-size: 1.5em;
    color: #f2f6fa;
    /* Blue color for project titles */
    margin-bottom: 10px;
}

.project img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    /* Rounded corners for images */
    margin-bottom: 10px;
}

.project p {
    font-size: 1em;
    color: #eeeeee;
    /* Grey color for project descriptions */
}


.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    /* Light gray background */

}

/* Container for the form and its content */
.form-container {
    display: flex;
    max-width: 1120px;
    /* Limit width of the form container */
    background-color: #fff;
    /* White background */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    /* Soft shadow */
    border-radius: 8px;
    /* Rounded corners */
    overflow: hidden;
    /* Hide overflow if any */
}

/* Left section container */
.left-container {
    flex: 1;
    /* Take up remaining space */
    padding: 40px;
    background-color: #2c3e50;
    /* Green background */
    color: #fff;
    /* White text color */
}

/* Right section container */
.right-container {
    flex: 2;
    /* Take up more space than left */
    padding: 40px;
}

/* Inner container inside left and right containers */
.left-inner-container,
.right-inner-container {
    padding: 20px;
}

/* Headings */
h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

/* Paragraphs */
p {
    margin-bottom: 20px;
    line-height: 1.6;
}

/* Social media icons */
.social-container {
    margin-bottom: 20px;
}

.social {
    display: inline-block;
    margin-right: 10px;
    color: #121f4b;
    /* Green color for icons */
    font-size: 20px;
}

/* Form inputs */
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    /* Light gray border */
    border-radius: 4px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

textarea {
    resize: vertical;
    /* Allow vertical resizing of textarea */
}

/* Submit button */
button {
    background-color: #2c3e50;
    /* Green background */
    color: #fff;
    /* White text color */
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #5a5454;
    /* Darker green on hover */
}

/* Responsive adjustments */
textarea,
button,
label {
    font-family: 'Poppins', sans-serif;
}
/* Media query for Android browsers */
@media only screen and (max-width: 1280px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape),
       only screen and (max-width: 768px) {
    /* Adjustments for header */

    .header {
        flex-direction: column;
        align-items: center; /* Center items horizontally */
        text-align: center; /* Center text within .header */
    }

    .header-content {
        justify-content: center; /* Center content vertically */
        padding: 10px; /* Adjust padding for smaller screens */
    }

    .header-left {
        margin-bottom: 10px; /* Adjust spacing below header */
    }

    .header-left h1 {
        margin: 0; /* Remove default margin from h1 */
    }

    .header-right {
        margin-top: -35px; /* Adjust spacing above navigation */
    }

    .header-right ul {
        flex-direction: column; /* Stack list items vertically */
        align-items: center; /* Center items horizontally */
        padding-left: 0; /* Remove default padding */
    }

    .header-right li {
        margin: 10px 0; /* Adjust margin */
    }

    .header-right a {
        padding: 8px 10px; /* Adjust padding around links */
        font-size: 14px; /* Adjust font size */
    }


    
/* Media query for Android devices */
/* Media query for Android devices */
@media only screen and (max-width: 720px) {
    #about .about-content {
        flex-direction: column;
        align-items: center;
        gap: 10px; /* Reduce the gap between text and picture */
        text-align: center;
    }

    #about .about-left {
        margin-bottom: -75px; /* Adjust spacing between image and text */
    }

    #about img {
        width: 350px; /* Set fixed width for square shape */
        height: 350px; /* Set fixed height for square shape */
        margin-top: 0px; /* Space between text and image */
        border-radius: 8px; /* Keep rounded corners */
        object-fit: cover;
        box-shadow: 0 4px 6px rgba(24, 23, 23, 0.171);
        border: 4px solid #fff; /* Add a minimalistic border */
    }

    #about .about-right {
        text-align: center;
    }

    #about h3 {
        font-size: 20px; /* Decrease heading size for better readability */
        margin-bottom: 5px; /* Adjust spacing below the heading */
        color: #2c3e50; /* Ensure text color is defined */
    }

    #about p {
        font-size: 0.9em; /* Adjust paragraph font size */
        line-height: 1.5;
        margin-bottom: 10px;
        color: #555; /* Ensure text color is defined */
    }

    .cv-download {
        margin-top: 15px; /* Adjust margin above the download button */
    }

    .cv-download button {
        padding: 8px 16px; /* Adjust button padding */
        font-size: 0.9em; /* Decrease button font size */
        background-color: #2c3e50; /* Button background color */
        color: #fff; /* Button text color */
        border: none; /* Remove button border */
        border-radius: 4px; /* Add button border radius */
        cursor: pointer;
        transition: background-color 0.3s, transform 0.3s;
    }

    .cv-download button:hover {
        background-color: #1abc9c; /* Hover background color */
        transform: translateY(-2px);
    }
}

    .header-right ul {
        flex-direction: row;
        align-items: center;
        text-align: center;
    }

    .header-right li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    /* Adjustments for main sections */
    main {
        padding: 40px 10px;
    }

    section {
        margin: 20px 10px;
        padding: 20px;
    }

    /* Adjustments for intro section */
    .intro {
        flex-direction: column;
    }

    .intro img {
        width: 250px;
        height: 250px;
        margin-bottom: 20px;
    }

    .intro-text {
        text-align: center;
    }

    .intro-text h1 {
        font-size: 2em;
    }

    /* Adjustments for skills section */
    #skills .skills-content {
        justify-content: center;
    }

    .skill-item {
        width: 100px;
        height: 140px;
    }

    .skill-item img {
        width: 60px;
    }

    .skill-item p {
        font-size: 0.8em;
    }

    /* Adjustments for icons section */
    .icons {
        position: static;
        margin: 20px 0;
        justify-content: center;
        bottom: auto;
        left: auto;
        transform: none;
    }

    .icons a {
        margin: 0 5px;
        width: 30px;
        height: 30px;
    }

    /* Additional adjustments as needed */

       }
       @media (max-width: 768px) {
        .intro img {
            width: 380px; /* Increase width */
            height: 380px; /* Increase height */
        }
    }
    @media (max-width: 768px) {
        #projects {
            padding: 10px; /* Adjust padding */
        }
    
        .projects-container {
            justify-content: center; /* Center align projects */
            flex-direction: column; /* Stack projects vertically */
            align-items: center; /* Center align items */
        }
    
        .project {
            width: 450px;
            height: auto;
            margin: 10px 0; /* Adjust margin */
        }
    }
    